<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hcycom.ctginms.repository.UserProjectMapper" >

   <!-- <resultMap id="ValueResultMap" type="com.hcycom.ctginms.domain.Value" >
    <result column="ID_NEW" property="idnew" jdbcType="VARCHAR" />
    <result column="AQI" property="aqi" jdbcType="VARCHAR" />
    <result column="AREA" property="area" jdbcType="VARCHAR" />
    <result column="PM25" property="pm25" jdbcType="VARCHAR" />
    <result column="O3" property="o3" jdbcType="VARCHAR" />
    <result column="CO" property="co" jdbcType="VARCHAR" />
    <result column="PM10" property="pm10" jdbcType="VARCHAR" />
    <result column="SO2" property="so2" jdbcType="VARCHAR" />
    <result column="NO2" property="no2" jdbcType="VARCHAR" />
    <result column="O3_8H" property="o38h" jdbcType="VARCHAR" />
    <result column="POSITION_NAME" property="positionname" jdbcType="VARCHAR" />
    <result column="PRIMARY_POLLUTANT" property="primarypollutant" jdbcType="VARCHAR" />
    <result column="QUALITY" property="quality" jdbcType="VARCHAR" />
    <result column="STATION_CODE" property="stationcode" jdbcType="VARCHAR" />
    <result column="TIME_POINT" property="timepoint" jdbcType="VARCHAR" />
    <result column="LEVELS" property="levels" jdbcType="VARCHAR" />
    <result column="CURRENTYEAR" property="currentyear" jdbcType="VARCHAR" />
    <result column="LATITUDE" property="latitude" jdbcType="VARCHAR" />
    <result column="LONGITUDE" property="longitude" jdbcType="VARCHAR" />
    <result column="CURRENT_TIME" property="currenttime" jdbcType="VARCHAR" />
    <result column="AREA_CODE" property="areacode" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="DISTRICT" property="district" jdbcType="VARCHAR" />
    
  </resultMap> -->
  
  
  <select id="selectUAndPByUusername" resultType="com.hcycom.ctginms.web.rest.vm.UserProjectAndProject">
  select u.username as username,u.state as state,p.projectcode as projectcode,p.projectname as projectname,
   p.projecttype as projecttype,p.projectdescribes as projectdescribes,p.creatusername as creatusername,
   p.creattime as creattime from userproject u,project p where u.username=#{username} and
    u.projectid=p.id and p.projectstate=1 ORDER BY p.creattime ASC
  </select>
  
  <select id="selectUserByProjectcode" resultType="com.hcycom.ctginms.domain.User">
  select username,name from user 
   where username in 
    (select username from userproject where projectid = 
    (select id from project where projectcode=#{projectcode}) and state=2)
  </select>
  
  
  <select id="selectRoleTwoUserByProjectcode" resultType="com.hcycom.ctginms.domain.User">
  select username,name from user 
   where role=2 and username not in 
    (select username from userproject where projectid = 
    (select id from project where projectcode=#{projectcode}))
  </select>
  
  <insert id="addMessageStateIsOne" parameterType="com.hcycom.ctginms.domain.UserProject">
  insert into userproject(username,projectid,state,creattime) values (#{userproject.username},#{userproject.projectid},#{userproject.state},now())
  </insert>
  
  
  
  
  
  <delete id="deleteUserProjectByUsernameAndPcode">
		<!-- forEach : 用来循环 collection : 用来指定循环的数据的类型 可以填的值有：array,list,map item 
			: 循环中为每个循环的数据指定一个别名 index : 循环中循环的下标 open : 开始 close : 结束 separator : 数组中元素之间的分隔符 -->
		delete from userproject where (projectid = (select id from project where projectcode=#{projectcode})) and username in
		<foreach collection="userarr" item="arr" index="no" open="("
			separator="," close=")">
			#{arr}
		</foreach>
  </delete>
  
  
  
  <insert id="insertUserPeojectByUsernameAndPcode">
	  insert into userproject (username,projectid,state,creattime) values
	  <foreach collection="userarr" item="arr" separator=",">
	  (#{arr},(select id from project where projectcode=#{projectcode}),2,now())
	  </foreach>
  
  </insert>
  
  
  
  
 <!--  <update id="updateLogintimeById" parameterType="java.lang.String">
		update user set logintime=#{logintime} where id=#{id}
  </update> -->
  

  
  
  
  
  
  
<!--   <select id="selectLinkInfos" resultMap="BaseLinkInfoResultMap" parameterType="java.lang.Integer" statementType="STATEMENT">
    select 
    	link_id,delay_threshold,device_a_id,device_z_id,link_category
    from
    	hcy_mn_link_info
    
   	<if test="category!=null">
    	where link_category = ${category}
    </if>
  </select> -->
  
</mapper>