<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hcycom.ctginms.repository.ValueMapper" >

   <resultMap id="ValueResultMap" type="com.hcycom.ctginms.domain.Value" >
    <result column="ID_NEW" property="idnew" jdbcType="VARCHAR" />
    <result column="AQI" property="aqi" jdbcType="VARCHAR" />
    <result column="AREA" property="area" jdbcType="VARCHAR" />
    <result column="PM25" property="pm25" jdbcType="VARCHAR" />
    <result column="O3" property="o3" jdbcType="VARCHAR" />
    <result column="CO" property="co" jdbcType="VARCHAR" />
    <result column="PM10" property="pm10" jdbcType="VARCHAR" />
    <result column="SO2" property="so2" jdbcType="VARCHAR" />
    <result column="NO2" property="no2" jdbcType="VARCHAR" />
    <result column="O3_8H" property="o38h" jdbcType="VARCHAR" />
    <result column="POSITION_NAME" property="positionname" jdbcType="VARCHAR" />
    <result column="PRIMARY_POLLUTANT" property="primarypollutant" jdbcType="VARCHAR" />
    <result column="QUALITY" property="quality" jdbcType="VARCHAR" />
    <result column="STATION_CODE" property="stationcode" jdbcType="VARCHAR" />
    <result column="TIME_POINT" property="timepoint" jdbcType="VARCHAR" />
    <result column="LEVELS" property="levels" jdbcType="VARCHAR" />
    <result column="CURRENTYEAR" property="currentyear" jdbcType="VARCHAR" />
    <result column="LATITUDE" property="latitude" jdbcType="VARCHAR" />
    <result column="LONGITUDE" property="longitude" jdbcType="VARCHAR" />
    <result column="CURRENT_TIME" property="currenttime" jdbcType="VARCHAR" />
    <result column="AREA_CODE" property="areacode" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="DISTRICT" property="district" jdbcType="VARCHAR" />
    
  </resultMap>
  
  
  
  <select id="selectValueByDistrictAndCurrenttime" resultType="com.hcycom.ctginms.web.rest.vm.DailyAveragePM25">
  select PROVINCE as province,CITY as city,DISTRICT as district,TIME_POINT as timepoint,AVG(PM25) as pm25 from value where PROVINCE=#{province} and CITY=#{city} and DISTRICT=#{district} and PM25!='' and PM25 IS NOT NULL and TIME_POINT &gt;= #{starttime} and TIME_POINT &lt;= #{endtime} GROUP BY TIME_POINT
  </select>
  
  
  
  
<!--   <select id="selectLinkInfos" resultMap="BaseLinkInfoResultMap" parameterType="java.lang.Integer" statementType="STATEMENT">
    select 
    	link_id,delay_threshold,device_a_id,device_z_id,link_category
    from
    	hcy_mn_link_info
    
   	<if test="category!=null">
    	where link_category = ${category}
    </if>
  </select> -->
  
</mapper>